/* Css code */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 25% 0 25%;
    font-size: x-large;
}

h1,
h2 {
    text-decoration: underline;
}

#index {
    font-size: large;
    line-height: 1.5em;
}

#index a {
    text-decoration: none;
    color: black;
}

#scrollToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

#scrollToTop a {
    text-decoration: none;
    color: white;
}

.roundedBtn {
    border: 1px solid black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: black;
    color: white;
    display: inline-block;
}

.roundedBtn a {
    text-decoration: none;
    color: white;
}

.roundedBtn a:visited {
    text-decoration: none;
    color: white;
}

section div {
    width: 150px;
    height: 150px;
    background-color: rgb(5, 12, 44);
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

.middle {
    background-color: rgb(5, 250, 229);
}

#relative .middle {
    position: relative;
    top: 25px;
    right: 25px;
}

#absolute .middle {
    position: absolute;
}

#absolute #absolute2 {
    background-color: rgb(5, 250, 229);
    position: absolute;
    left: 50px;
}

#absoluteExample {
    position: relative;
}

#absoluteExample #absolute3 {
    background-color: rgb(5, 250, 229);
    position: absolute;
    left: 50px;
}

#fixed .middle {
    position: fixed;
    top: 0;
    left: 0;
}